@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.form {
    margin-top: 1.5rem;
    @include respond-above(lg) {
        margin-top: 2rem;
    }
    
    &__group {
        display: flex;
        max-width: 85%;
        margin: 0 auto;
        @include respond-above(xxs) {
            max-width: 320px;
        }
        @include respond-above(md) {
            max-width: 600px;
        }
        label {
            display: none;
        }
        input {
            font-family: inherit;
            font-size: .9rem;
            padding: .8rem;
            border: 0;
            outline: none;
            width: 100%;
            border-radius: 10px 0 0 10px;
            &:placeholder-shown {
                font-size: .9rem;
            }
        }
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            background-color: $color-black;
            transition: background-color .3s;
            border: 0;
            outline: none;
            border-radius: 0px 10px 10px 0;
            img {
                width: 10px;
            }
            &:hover {
                background-color: $color-primary;
            }
            &:active {
                transform: translateX(-1px);
            }
        }
    }
}
