@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 11px;
    text-align: center;
    background-color: $color-white;
    a {
        color: hsl(228, 45%, 44%);
    }
}
